<configuration>
  <appSettings>
    <add key="BABEL_CACHE_PATH" value="C:\Babel\cache.json" />
  </appSettings>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode node_env="production" />

    <rewrite>
      <rules>
        <rule name="sendToNode">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>