extends email-layout

block content
  h2 BIT Password Reset
  p Hello. You have requested a password reset.
  p Please click the following button to continue on with resetting your password.
  +button(resetURL, 'Reset my Password →')
  p This link will expire 8 hours after this email was sent.
  p
    | To visit BIT please click 
    a(href='https://bit.bright-wave.co.uk/') here