body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

a{
    color:white;
}


@media (min-width: 768px){
#sideBar{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 50px;
  }
  #issuelist {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 3.5%;
    width: 48%;
    /*overflow-y: scroll; */
  }
  
  #issueManager {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
    width: 48%;
  }
}

#commentsBox{
    max-height:450px;
    overflow-y: scroll;
}

#sideBar {
  height:100%;
  background: #DEDEE1;
  color:white;
}

#issuelist {
  height:100%;
}

#issueManager {
  height:100%;
}


/*SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2); 
}


/* DropZone */

.DropZone{
    border: 3px dashed transparent;
}

.DropZoneOver{
    border: 3px dashed black;
}

/**********************Issues Table*****************************/
.issueTable .description{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
  text-overflow: ellipsis;
}

.issueTable .assigned{
  display: inline-block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th,
.issueRowActive{
  background: #C8C8C8;
}



/***********************************Description and Form ************************************/
#issueDescription{
  height:200px;
  max-height:200px;
  overflow-y: scroll;
  margin-bottom:20px;
  border-bottom:2px solid rgba(55,55,55,0.1);
  padding:0px 20px 0px 15px;
}



/*Comments*/
.comment{
  padding:10px 0px;
  border-bottom: 2px solid rgba(55,55,55,0.1);
}
.comment .commentHeading{
  width: 100%;
  font-weight:bold;
}

.comment .commentHeading .right{
  float:right;
}

.comment .commentHeading .pot{
  color:green;
  text-align: left;
}

/* SIDE BAR */

.linkIcon{
  position:relative;
  height:50px;
  width:100%;
}

.linkIconActive{
  position:relative;
  height:50px;
  width:100%;
  background:rgba(42,62,71,1);
}

.linkIcon:hover{
  background:rgba(255,255,255,0.1);
}

.iconWhite{
  fill:rgba(64,83,93,1);
}

.linkIconActive .iconWhite{
  fill:rgba(255,255,255,1); 
}

.potToolTip{
  position:absolute !important;
  left:100% !important;
}

.white{
  color:white;
}


/**************************** NAV *******************************/
#navBar{
  height:40px;
  background:#004D1F;
}

#navBar .projectCode{
  margin-left:10px;
}

#navBar .btn{
  background:#004D1F;
  color:white;
  font-weight:bold;
  height:100%;
  border-radius: 0px !important;
}

#navBar .btn:hover{
  background:#149849 !important;
}

#projectPicker{
  width:300px;
}

.dropdown.open.btn-group .btn{
  background:#149849 !important;
}

.dropdown-menu{
  padding:10px !important;
}

.dropdown-menu .project-list{
  max-height:400px;
  overflow-y: scroll;
}

.list-group-item{
  padding:5px 10px !important;
  border:none !important;
}