body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

a {
    color: white;
}

h5 {
    font-weight: bold !important;
}

.static {
    border: 0px !important;
    margin-bottom: -10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.visible-phone {
    display: none;
}

.full-height {
    min-height: 100% !important;
    height: auto !important;
    height: 100%;
}

.right-align {
    float: right;
    margin-right: 5px;
}

/***********************SCROLLBAR *****************************/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/***************** SplitPane **********************************/

.Resizer.vertical {
    width: 5px;
    margin: 0 -5px;
    cursor: col-resize;
    background: #dcdcdc;
    z-index: 1;
}

.Resizer.horizontal {
    height: 5px;
    margin: 0 0px;
    cursor: row-resize;
    background: #dcdcdc;
    z-index: 1;
}

.Pane.vertical.Pane2,
.Pane.horizontal.Pane2 {
    background: white;
}

.error {
    color: #a94442;
}