@media (min-width: 200px){
    .editIssuePage {
      height:100%;
      position: absolute;
      bottom: 0;
      overflow-y: hidden;
      width: 100%;
    }
  }

@media (min-width: 765px){
  .editIssuePage {
      display: inline-block !important;
      flex-grow: 1;
      flex-grow: 1;
      -webkit-flex-grow: 1;
  }
}

.editIssuePage{
  display:none;
}

.commentsHeader{
  position:absolute;
  top:445px;
  width:100%;
  border-bottom: 2px solid rgba(120,120,120,0.2);
}

.issueDescription{
  position:absolute;
  height:235px;
  overflow-y: auto;
  overflow-x: hidden;
  width:50%;
  top:35px;
  padding-right:12px;
}

.issueAttachments{
  height:40px;
  position:absolute;
  bottom:127px;
}

.issueDescriptionAndSettings{
  width:100%;
  height:442px;
  position:absolute;
}

.commentBox{
  width:50%;
  position:absolute;
  height:23%;
  bottom:10%;
}

.error{
  color:#a94442;
}

.textEditor{
  border: 1px solid #ccc;
  cursor: text;
  padding: 10px;
  overflow-y: auto;
  overflow-wrap:break-word;
  height:100%;
}

.has-error .form-control,
.textEditor .has-error
{
  border: 1.5px solid #a94442;
}

.anchorBottom{
  position:absolute;
  bottom:0px;
}

btn{
  background-color:blue;
}