@media (min-width: 200px) {
  .edit-issue-page {
    height: 100%;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    width: 100%;
  }
}

@media (min-width: 765px) {
  .edit-issue-page {
    display: inline-block !important;
    flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }
}

.edit-issue-page {
  display: none;
}

.issue-manager{
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  
}

.comments-header {
  width: 100%;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.issue-manager-description{
  width:55%;
  margin-left: 15px;
  margin-right: 15px;
}

.issue-description {
  height: calc(100% - 205px);
  overflow-y: auto;
  overflow-x: hidden;
  top: 35px;
}

.issue-attachments {
  float: right;
}

.comment-box {
  height: 120px;
  bottom: 50px;
}

.error {
  color: #a94442;
}

.text-editor {
  border: 1px solid #ccc;
  cursor: text;
  padding: 10px;
  overflow-y: auto;
  overflow-wrap: break-word;
  height: 100%;
}

.has-error .form-control, .text-editor .has-error {
  border: 1.5px solid #a94442;
}

.issue-manager-buttons {
  position: absolute;
  bottom: 5px;
}

btn {
  background-color: blue;
}
