.issue-form {
  margin-right: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: 40%;
  flex-grow: 0;
}

.form-flex {
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2px;
}

.form-label{
  margin-right: 5px;
  flex-basis: 100px;
  flex-shrink: 0;
}

.form-select{
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-basis: calc(100% - 90px);
  flex-shrink: 1;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color 
}