/**********************Issue Table*****************************/
.issueTable{
  white-space: nowrap;
  text-overflow: ellipsis;
}

.issueTable th{
  border-bottom: 0px !important;
}

.issueTable td{
  overflow: hidden;
  max-width: 270px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.issueTable thead tr{
  border-bottom:2px solid #dddddd;
}


.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th,
.issueRowActive{
  background: #C8C8C8;
  cursor: pointer;
}


.tableFixed tbody {
  position:absolute;
  height: calc(100% - 80px);
  overflow-y: scroll;
  width: 100%;
}

.table-fixed>tbody,
.table-fixed>thead {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed tbody td{
  position:static;
  display:table-cell;
  /*float:none;*/
}

.table-fixed tbody tr{
  width:100%;
  display:table !important;
}

.table-fixed thead tr{
  width:100%;
  display:table !important;
}

.table-fixed tbody td:nth-child(1),
.table-fixed thead th:nth-child(1){
  width:30px !important;
}

.table-fixed tbody td:nth-child(2),
.table-fixed thead th:nth-child(2){
  width:39px !important;
}

.table-fixed tbody td:nth-child(3),
.table-fixed thead th:nth-child(3){
  width:75px !important;
}

.table-fixed tbody td:nth-child(4),
.table-fixed thead th:nth-child(4){
  width:115px !important;
}

.table-fixed tbody td:nth-child(5),
.table-fixed thead th:nth-child(5){
  width:15% !important;
}

.table-fixed tbody td:nth-child(6),
.table-fixed thead th:nth-child(6){
  width:260px !important;
}

.table-fixed tbody td:nth-child(7),
.table-fixed thead th:nth-child(7){
  width:146px !important;
}

.table-fixed thead th{
  cursor: pointer;
}

.table-fixed td{
  height:42px !important;
}