.issue-table {
  display:inline-block;
  flex-grow:1;
  width:53%;
  margin-left: 20px !important;
  margin-right: 0px !important;
}

.table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.zapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.column {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  vertical-align: top;
}
.issue-select {
  width: 20px;
}
.id {
  width: 30px;
}
.screen {
  width: 60px;
}
.project{
  width: 80px; 
}
.location {
  width: 90px;
}
.category {
  width: 90px;
}
.type {
  width: 80px;
}
.description {
  width: 110px;
}
.assigned {
  width: 120px;
}

.watch,
.add-comment {
  width: 40px;
}
.index {
  text-align: center;
}
.title {
  font-weight: bold;
  color: #337AB5;
}
.location,
.type,
.category{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.description,
.assigned {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}
.date {
  width: 110px;
  text-align: right;
  padding-right: 4px;
}
.description-assigned,
.status-owner,
.attributes {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
@media all and (max-width: 1420px) {
  .title-identifier {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 120px;
  }
  .title-identifier div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .title-identifier > div {
    width: 100%;
  }
  .location-category-type,
  .status-owner {
    width:150px;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .location-category-type div,
  .status-owner div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
}
@media all and (max-width: 85px + max(220px,120px)max(110px,85px)max(95px,75px)80px36px330px) {
  .location-category-type {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .title-identifier-location-category-type {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: max(220px,120px,195px);
  }
  .title-identifier-location-category-type div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .title-identifier-location-category-type > div {
    width: 100%;
  }
  .description-assigned {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .description-assigned div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .icons {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .icons div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .dates {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .dates div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
}
@media all and (max-width: 85px + max(220px,120px,195px)max(95px,75px,80px)18px110px) {
  .table-row {
    padding-left: 4px;
    padding-right: 4px;
  }
  .attributes {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: max(220px,120px,195px,170px);
  }
  .attributes div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .attributes > div {
    width: 100%;
  }
  .location-category-type,
  .status-owner {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
.table-row {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 4px;
  padding-bottom: 4px;
}
.table-row:hover,
.table-row.active{
  background:grey;
}
.table-row.header {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}
.glyphicon {
  color: #DDDDDD;
}
.header .glyphicon {
  color: #333;
}
.glyphicon-eye-open.active {
  color: blue;
}
.glyphicon-comment.active {
  color: #3EBB0D;
}
.glyphicon:hover {
  color: #666;
  cursor: pointer;
  text-decoration: underline;
}
.category {
  color: #999999;
}
.comment {
  font-style: italic;
}
.severity.high {
  color: red;
}
.severity.medium {
  color: blue;
}
.severity.low {
  color: green;
}