/**************************** NAV *******************************/

.nav-bar {
    background: #1B4885 !important;
    border-radius: 0px !important;
    border-color: #1B4885 !important;
    margin-bottom: 0px !important;
}

.nav-bar div {
    margin-left: 20px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dropdown.open, .dropdown.open a, .dropdown.open ul {
    background-color: #ffffff !important;
    color: #1B4885 !important;
    font-weight: bold;
}

.nav-button a, .dropdown-toggle {
    color: white !important;
    font-weight: bold;
}

.nav-button a:hover {
    color: #DEDEE1 !important
}

.dropdown-menu li:hover, .dropdown-menu li:hover a {
    background: #1B4885 !important;
    color: white !important;
}

.dropdown-header, .dropdown-menu li:hover.dropdown-header {
    cursor: default;
    background-color: #ffffff !important;
    color: #1B4885 !important;
    font-size: 13px !important;
    font-weight: bold;
}

.dropdown.btn-group .dropdown-menu li a:hover {
    background: #fff !important;
}

.dropdown-menu li a {
    color: white !important;
    font-weight: bold;
}

.navbar-brand, .navbar-default {
    color: white !important;
}

.navButtonGroup {
    height: 100%;
}

.nav-item {
    margin-left: 10px;
    display: inline-block;
}

.navBtn {
    text-align: left;
    background: #1B4885 !important;
    color: white !important;
    font-weight: bold !important;
    height: 100%;
    border: 0px solid transparent !important;
}

.navBtn:hover {
    background: #2E6382 !important;
    color: white !important;
}

.btn-default {
    border-color: transparent !important;
}

#projectPicker {
    width: 300px;
}

.dropdown.open.btn-group .btn {
    background: #2E6382 !important;
}

.project-list {
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.list-group-item {
    padding: 5px 10px !important;
    border: none !important;
    height: 30px;
    background: transparent !important;
}

.list-group-item:hover {
    background: #e2e2e2 !important;
}

.navDiv {
    height: 100%;
    display: inline-block;
}

.dropdown.btn-group {
    height: 100%;
}

.float-right {
    height: 100%;
    float: right;
    display: block;
}

.float-left {
    height: 100%;
    float: left;
    display: block;
}

.btn-group {
    display: block !important;
}

.bit-title {
    color: #ffffff;
    font-size: 20px;
}

.dropdown-menu {
    background: #1B4885 !important;
}

@media (min-width: 768px) {
    .navbar-default .container {
        width: 800px !important;
    }
}