/**************************** NAV *******************************/
.nav-bar{
    height:40px;
    background:#004D1F;
}

.nav-item{
    margin-left:10px;
    display:inline-block;
}

.navBtn{
    text-align: left;
    background:#004D1F !important;
    color:white !important;
    font-weight:bold !important;
    height:100%;
    border-color: none !important;
    border-radius: 0px !important;
}

.navBtn:hover{
    background:#149849 !important;
    color:white !important;
}

.btn-default{
    border-color:transparent !important;
}

#projectPicker{
    width:300px;
}

.dropdown.open.btn-group .btn{
    background:#149849 !important;
}

.project-list{
    margin-top:10px;
    max-height:400px;
    overflow-y: auto;
}

.list-group-item{
    padding:5px 10px !important;
    border:none !important;
    height:30px;
}

.nav-div{
    height:100%;
    display:inline-block;
}

.dropdown.btn-group .dropdown-menu li a:hover{
    background:#149849;
}

.dropdown.btn-group{
    height:100%;
}

.dropdown.btn-group .dropdown-menu{
    background:#004D1F;
}

.dropdown.btn-group .dropdown-menu li a{
    color:white;
    font-weight:bold;
}

.float-right{
    height:100%;
    float:right;
    display:block;
}
.float-left{
    height:100%;
    float:left;
    display:block;
}

.btn-group{
    display:block !important;
}

.dropdown-header{
    font-size:13px !important;
    color:white !important;
    font-weight:bold;
}

@media (min-width: 1400px){
  .visible-desktop {
      display: block !important;
  }
}

@media (max-width: 1400px){
  .visible-phone {
      display: block !important;
  }
}

.visible-desktop,
.visible-phone{
  display: none;
}