body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

a{
    color:white;
}


@media (min-width: 768px){
#IssuePots{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 50px;
  }
  #issuelist {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 2.5%;
    width: 50%;
  }
  
  #issueManager {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
    width: 48%;
  }
}

#commentsBox{
    max-height:450px;
    overflow-y: auto;
    overflow-x: hidden;
}

#IssuePots {
  height:100%;
  background: #DEDEE1;
  color:white;
}

#issuelist {
  height:100%;
}

#issueManager {
  height:100%;
}


/***********************SCROLLBAR *****************************/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2); 
}


/***********************************Description and Form ************************************/
#issueDescription{
  height:200px;
  max-height:200px;
  overflow-y: auto;
  margin-bottom:5px;
  border-bottom:2px solid rgba(55,55,55,0.1);
  padding:0px 20px 0px 15px;
}

.form-group .row .has-error{
  background:red !important;
  color:red !important;
}

/*Comments*/
.comment{
  padding:10px 0px;
  border-bottom: 2px solid rgba(55,55,55,0.1);
}
.comment .commentHeading{
  width: 100%;
  font-weight:bold;
}

.comment .commentHeading .right{
  float:right;
}

.comment .commentHeading .pot{
  color:green;
  text-align: left;
}

input[type="text"]{
  margin-bottom:0px !important;
}

.col-form-label{
  text-align:right !important;
  padding:5px 0 0 0 !important;
}

.dashed{
  border: 1px dashed #444444 !important;
}

.modal-dialog{
  width:700px !important;
}

/* SIDE BAR */

.linkIcon,
.linkIconActive{
  position:relative;
  height:55px;
  width:100%;
}


.linkIcon #issueCount,
.linkIconActive #issueCount{
  position:absolute;
  top: 3px;
  left: 33px;
  color: #40535D;
  font-weight:bold;
}

.linkIcon:hover,
.linkIconActive{
  background:rgba(64,83,93,1) !important;
}

.linkIcon:hover .iconWhite,
.linkIconActive .iconWhite{
  fill:#FFFFFF;
}

.linkIcon:hover #issueCount,
.linkIconActive #issueCount{
  color: #FFFFFF;
}

.iconWhite{
  fill:rgba(64,83,93,1);
  margin-top: 12px;
  margin-left: 3px;
}

.linkIconActive .iconWhite{
  fill:rgba(255,255,255,1); 
}

.potToolTip{
  margin-left:-32px !important;
}

.white{
  color:white;
}


/**************************** NAV *******************************/
#navBar{
  height:40px;
  background:#004D1F;
}

#navBar .projectCode{
  margin-left:10px;
}

#navBar .btn{
  background:#004D1F;
  color:white;
  font-weight:bold;
  height:100%;
  border-radius: 0px !important;
}

#navBar .btn:hover{
  background:#149849 !important;
}

.nav-div{
  display:inline-block;
}

.nav-div.right{
  float:right;
  margin-right:10px;
}

#projectPicker{
  width:300px;
}

.dropdown.open.btn-group .btn{
  background:#149849 !important;
}

.dropdown-menu{
  padding:10px !important;
}

.project-list{
  margin-top:10px;
  max-height:400px;
  overflow-y: auto;
}

.list-group-item{
  padding:5px 10px !important;
  border:none !important;
  height:30px;
}


/**********************GENERAL****************************/
.nopadding{
  padding:0 !important;
  margin:0 !important;
}

textarea.form-control{
    resize: vertical !important;
    min-height:200px;
}

div .displayTable{
  display:table;
  width:100%;
}

div .tableCell{
    float: none;
    display: table-cell;
}