/***********************************Description and Form ************************************/

.form-group {
  margin-bottom: 7.5px !important;
}

input[type="text"] {
  margin-bottom: 0px !important;
}

.col-form-label {
  padding: 5px 10px 0px 0px !important;
}

.dashed {
  border: 1px dashed #444444 !important;
}

.modal-dialog {
  width: 700px !important;
}

.white {
  color: white !important;
}

.form-control {
  line-height: normal !important;
}

.form-control.static {
  border: 0px !important;
  margin-bottom: -10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.form-control.comment-box {
  margin-left: 15px;
  width: 90%;
}

.form-control.new-issue {
  min-height: 200px;
}

/**********************GENERAL****************************/

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

textarea.form-control {
  resize: vertical !important;
  /*min-height:200px;*/
}

[class*='col-'].no-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.inline-block {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}

#newIssuePage {
  overflow-y: auto;
}

.btn {
  background: #004D1F;
  color: white;
  margin-right: 5px;
  border: 1px solid #004D1F;
}

.btn:hover, .btn:active {
  background: white;
  /* color:#004D1F !important; */
  border: 1px solid #004D1F;
}

.btn:focus {
  outline: none;
  background: #004D1F;
  color: white !important;
  margin-right: 5px;
  border: 1px solid #004D1F;
}

select.form-control {
  margin-bottom: -5px;
  margin-top: -5px;
}

.infomessage {
  font-weight: bold;
  display: inline-block;
  float: left;
}

.error {
  color: #a94442;
}

.success {
  color: #4BB543;
}

.form-control:focus {
  border-color: #004D1F !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 77, 31, .6);
}

.center-position {
  left: 50%;
  position: absolute;
  margin-left: -19px;
}

btn {
  background-color: blue;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.formSignin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading, .checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-button {
  background: #0C506E !important;
  display: block;
  width: 100%;
  border-radius: 0px !important;
  color: white;
  font-weight: bold !important;
}

.login-button:hover {
  background: #32738F !important;
  color: white !important;
}